.container{
    margin: 20px;
    background-color: rgb(226, 224, 221);
    border-radius: 10px;
}
.heading{
    padding: 5px 0px 0px 10px;
    
}
.nav{
    text-align: center;
    padding: 15px;
    background-color: aquamarine;
}
.nav a{
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.firstContent{
    padding: 10px 20px 30px 30px;
    background-color: rgb(243, 240, 237);
    margin-top: 20px;
    border-radius: 10px;
}
img{
    margin-left: 280px;
    border-radius: 15px;
}
.secondContent{
     padding: 10px 20px 30px 30px;
    background-color: rgb(243, 240, 237);
    margin-top: 20px;
    border-radius: 10px;
}
.footer{
    margin-top: 20px;
    text-align: center;
    background-color: black;
     padding: 10px;
     color: white;
}